h2{
	margin-top: 0px;
}
.container{
	width: 100%;
	margin: 0px;
}
.btn_log{
	margin: 5px;
}
.btn_view{
	text-align: center;
}
.menu_bar{
	display: none;
}
#logIn{
	border-style: outset;
    border-color: #337ab7;
	padding: 20px;
}
#mapa_vista{
	left: 0;
	height: 300px;
    width: 100%;
}
#add{
	padding: 10px;
}
#content-ng{
	margin-top: 60px;
}
@media screen and (max-width: 600px){
	#mapa_vista{
		width: 100%;
	}
}