h2{
	margin-top: 0px;
}
.navbar-right {
    margin-right: 0px;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 50px;
}
.container{
	width: 100%;
	margin: 0px;
}
.btn_log{
	margin: 5px;
}
.btn_view{
	text-align: center;
}
.menu_bar{
	display: none;
}
#logIn{
	border-style: outset;
    border-color: #337ab7;
	padding: 20px;
}
#mapa_vista{
	left: 0;
	height: 300px;
    width: 100%;
}
#add{
	padding: 5px;
}
#content-ng{
	margin-top: 60px;
}
#curso{
	width: 320px;
}
@media screen and (max-width: 770px){
	#mapa_vista{
		width: 100%;
	}
	#curso{
		width: 320px;
	}
	.navbar-fixed-top .navbar-collapse {
	    max-height: 350px;
	    background: #dcdcdc;
	}
}