h2{
	margin-top: 0px;
}
.navbar-right {
    margin-right: 0px;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 50px;
}
.container{
	width: 100%;
	margin: 0px;
}
.btn_log{
	margin: 5px;
}
.subtitulo{
	padding: 5px;
    margin-top: 5px;
}
.btn_view{
	text-align: center;
}
.menu_bar{
	display: none;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 150px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.titulo{
	background: #2EFEF7;
    text-align: center;
    border-radius: 50px;
    padding:
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
#logIn{
	border-style: outset;
    border-color: #337ab7;
	padding: 20px;
}
#mapa_vista{
	left: 0;
	height: 300px;
    width: 100%;
}
#add{
	padding: 5px;
}
#content-ng{
	margin-top: 60px;
}
#curso{
	width: 320px;
}
@media screen and (max-width: 770px){
	#mapa_vista{
		width: 100%;
	}
	#curso{
		width: 320px;
	}
	.navbar-fixed-top .navbar-collapse {
	    max-height: 350px;
	    background: #dcdcdc;
	}
	#mapa_vista{
		width: 100%;
		height: 250px;
	}
}