<div class="modal-header">
  <h3>Crear Estudiante(es)</h3>
</div>
<div class="modal-body">
	<form name="frm">
      <div class="form-group">
        <a style="text-align: center;margin-left: 25%;"><button type="button" class="btn" ng-click="one()">Un estudiante</button>
        <button type="button" class="btn" ng-click="someone()">Varios estudiantes</button></a>
      </div>
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="cancelar()">cerrar</button>
  <button class="btn btn-primary" ng-click="crearEstudiante()">aceptar</button>
</div>