<div class="modal-header">
  <h1>Editar Actividad</h1>
</div><!-- /.modal -->
<div class="modal-body">
	<div class="thumbnail">
        <div id="map-canvas" style="width: 100%; height: 500px;" ng-click="markerPos()"></div>
		<div class="caption">
	      <h2>Editar Actividad</h2>
	      <div class="form-group">
	        <label>Nombre</label>
	        <input type="text" class="form-control" placeholder="Actividad" id="name" ng-model="actividad.name_activity" ng-value="{{actividad.name_activity}}">
	      </div>
	      <div class="form-group">
	        <label>Radio (Mts)</label>
	        <input type="number" class="form-control" placeholder="20" id ="Radius" ng-model="actividad.range">
	      </div>
	      <div class="form-group">
	        <label>Inicio</label>
	        <input type="datetime-local" class="form-control" id="startDate" ng-model="actividad.start_date">
	      </div>
	      <div class="form-group">
	        <label>Final</label>
	        <input type="datetime-local" class="form-control" id="finishDate" ng-model="actividad.finish_date">
	      </div>
	      <div class="form-group">
	        <label>Duracion (Mns)</label>
	        <input type="number" class="form-control" id ="time" placeholder="120" ng-model="actividad.duration">
	      </div>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="cancelar()">cerrar</button>
  <button class="btn btn-primary" ng-click="editar(actividad)">aceptar</button>
</div>