<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex6-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/activity">Menu</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse navbar-ex6-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/courses">Actividades<i class="fa fa-folder-open" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
      <li><a href="#/students">Estudiantes<i class="fa fa-users" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
      <li class="active" ><a href="#/activity">Cursos</a></li>
      <li><a href="">Grupos</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="add">
        <button type="submit" class="btn btn-info btn-circle btn-lg" ng-click="open()" style="border-radius:20px;"><i class="fa fa-plus" aria-hidden="true" ></i></button>
        <button type="submit" class="btn btn-danger btn-circle btn-lg" ng-click="LogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-repeat="curso in cursos" id="curso">
    <div class="thumbnail">
      <img src="http://previews.123rf.com/images/iofoto/iofoto1002/iofoto100200944/6429701-Bird-s-eye-view-of-rock-formations-in-a-desert-environment-Square-format--Stock-Photo.jpg">
      <div class="caption">
        <h4>Nombre Curso: {{curso.name}}</h4>
        <h4>Id curso: {{curso.id}}</h4>
        <h4>Periodo curso:{{curso.period}}</h4>
        <p>
          <a href="" class="btn btn-primary" role="button" ng-click="ver(curso)"><i class="fa fa-folder-open" aria-hidden="true"></i></a> 
          <a href="" class="btn btn-success" role="button" ng-click="editarCurso(curso)"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
          <a class="btn btn-danger" role="button" ng-click="delete(curso)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          <a class="btn btn-primary" role="button" ng-click="estudiantes(curso)"><i class="fa fa-users" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
