<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex6-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/activity">Menu</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse navbar-ex6-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active" ><a href="#/activity">Cursos</a></li>
      <li><a href="#/courses">Actividades<i class="fa fa-book" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
      <li><a href="#/students">Estudiantes<i class="fa fa-user" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
      <li><a href="#/groups">Grupos<i class="fa fa-users" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="add">
        <button type="submit" class="btn btn-info btn-circle btn-lg" ng-hide='{{types == "Student"}}' ng-click="open()" style="border-radius:20px;"><i class="fa fa-plus" aria-hidden="true" ></i></button>
        <button type="submit" class="btn btn-danger btn-circle btn-lg" ng-click="LogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" ng-repeat="curso in cursos" id="curso" ng-show="cursos.length > 0">
    <div class="thumbnail">
      <img src="icons/teacher-desk.png">
      <div class="caption" style="text-align: center;">
        <h4>NRC: {{curso.course_nrc}}</h4>
        <h4>Nombre Curso: {{curso.name}}</h4>
        <h4>Periodo curso: {{curso.period}}</h4>
        <p>
          <a href="" class="btn btn-primary" role="button" ng-click="ver(curso)"><i class="fa fa-book" aria-hidden="true"></i></i></a> 
          <a href="" class="btn btn-success" role="button" ng-click="editarCurso(curso)" ng-hide='{{curso.users_type == "Student"}}'><i class="fa fa-pencil" aria-hidden="true"></i></a> 
          <a class="btn btn-danger" role="button" ng-click="delete(curso)" ng-hide='{{curso.users_type == "Student"}}'><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          <a class="btn btn-primary" role="button" ng-click="estudiantes(curso)"><i class="fa fa-user" aria-hidden="true"></i></i></a>
        </p>
      </div>
    </div>
  </div>
</div>
<div ng-hide="cursos.length > 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; border: groove;">
  <div class="page-header">
    <h1>No se han creado cursos</h1>
  </div>
  <a class="btn btn-info btn-lg" ng-hide='{{types == "Student"}}' ng-click="open()" style="border-radius:20px;margin-bottom: 20px;"><i class="fa fa-plus" aria-hidden="true" ></i></a>
</div>
