<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex6-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/activity">Menu</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse navbar-ex6-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active" ><a href="#/courses">Actividades<i class="fa fa-book" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
      <li><a href="#/students">Estudiantes <i class="fa fa-user" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
      <li><a href="#/activity">Cursos</a></li>
      <li><a href="#/groups">Grupos<i class="fa fa-users" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="add">
      <button type="submit" class="btn btn-primary btn-circle btn-lg" ng-hide='{{types == "Student"}}' ng-click="crear()" style="border-radius:20px;"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <button type="submit" class="btn btn-danger btn-circle btn-lg" ng-click="LogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div  ng-show="actividades.length > 0" class="col-lg-3 col-md-4 col-sm-4 col-xs-12" ng-repeat-start="actividad in actividades" id="curso">
	<div class="thumbnail">
    <div class="mapWrap"  data-tap-disabled="false">
      <div id="map" style="width: 0px; height: 0px;"></div> 
    </div>
	  <div class="caption">
      <ng-map center="{{actividad.latitude}}, {{actividad.longitude}}">
        <shape name="circle" no-watcher="true"
        stroke-color="#FF0000"
        stroke-opacity="0.8"
        stroke-weight="2"
        fill-color="#FF0000"
        fill-opacity="0.35"
        center="{{actividad.latitude}}, {{actividad.longitude}}"
        radius="{{actividad.range}}" />
      </ng-map>
      <h5>Id curso: {{actividad.course_id}}</h5>
      <h5>Id Actividad: {{actividad.id}}</h5>
	    <h5>Nombre: {{actividad.name_activity}}</h5>
      <h5>Radio actividad:{{actividad.range}}</h5>
      <h5 type="datetime-local">Inicio: {{actividad.start_date}}</h5>
      <h5 type="datetime-local">Cierre:{{actividad.finish_date}}</h5>
      <h5>Duracion:{{actividad.duration}}</h5>
	    <p>
        <a class="btn btn-primary" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a> 
        <a class="btn btn-success" ng-hide='{{actividad.users_type == "Student"}}' role="button" ng-click="editar(actividad)"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
        <a class="btn btn-danger" ng-hide='{{actividad.users_type == "Student"}}' role="button" ng-click="eliminarData(actividad)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        <a class="btn btn-primary" role="button" ng-click="verGrupos(actividad)"><i class="fa fa-users" aria-hidden="true"></i></a>
      </p>
	  </div>
	</div>
</div>
<div ng-hide="actividades.length > 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; border: groove;" ng-repeat-end>
  <div class="page-header">
    <h1>No se han creado actividades</h1>
  </div>
  <a class="btn btn-info btn-lg" ng-hide='{{actividad.users_type == "Student"}}' ng-click="crear()" style="border-radius:20px;margin-bottom: 20px;"><i class="fa fa-plus" aria-hidden="true" ></i></a>
</div>