<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex6-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/activity">Menu</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navbar-collapse navbar-ex6-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/courses">Actividades<i class="fa fa-folder-open" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
      <li class="active" ><a href="#/students">Estudiantes<i class="fa fa-users" aria-hidden="true" style="margin-left: 5px;"></i></a></li>
      <li><a href="#/activity">Cursos</a></li>
      <li><a href="">Grupos</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="add">
      <a class="btn btn-info btn-lg" ng-click="agregar()" style="border-radius:20px;"><i class="fa fa-plus" aria-hidden="true" ></i></a>
        <button type="submit" class="btn btn-danger btn-circle btn-lg" ng-click="LogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="table table-responsive col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="estudiantes.length > 0" id="curso" style="width: 100%">
  <table class="table">
    <thead>
      <tr>
        <th>Curso</th>
         <th>Nombre curso</th>
        <th>Correo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="estudiante in estudiantes">
        <td>{{estudiante.course.id}}</td>
        <td>{{estudiante.course.name}}</td>
        <td>{{estudiante.email}}</td>
        <td>{{estudiante.first_name}}</td>
        <td>{{estudiante.last_name}}</td>
        <td>
          <p>
            <a href="#/view_activity" class="btn btn-primary" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a> 
            <a class="btn btn-success" role="button" ng-click="editar(estudiante)"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
            <a class="btn btn-danger" role="button" ng-click="eliminarData(estudiante)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-hide="estudiantes.length > 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; border: groove;">
  <div class="page-header">
    <h1>Curso sin estudiantes</h1>
  </div>
  <a class="btn btn-info btn-lg" ng-click="agregar()" style="border-radius:20px;margin-bottom: 20px;"><i class="fa fa-plus" aria-hidden="true" ></i></a>
</div>